/* Changing Fonts with Fonr-Family */
/* Font-size, font-weight and font-style */
h1 {
  font-family: "Segou UI", Futura, sans-serif;
  font-size: 60px;
  font-weight: normal;
  direction: ltr;
  text-align: center;
  letter-spacing: 20px;
}

/* Changing Text Aligment */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* text-align: justify; */
}

/* Line-height, letter-spacing and word-spacing */
p {
  font-weight: bold;
  line-height: 2;
  word-spacing: 20px;
}

a {
  font-style: italic;
}

em {
  font-style: normal;
}
